<!doctype html>
<html>
  <head>
    <title>Website Maker 2</title>
  </head>
  <body>
    <h1>Website Maker 2</h1>
    <p><em>Now, featuring even more crappy features than ever!</em></p>
    <br>
    <form>

      <legend><strong>Website Tag (must be URL friendly)</strong></legend>
      <input type="text"><br>
      <legend><strong>Admin username</strong></legend>
      <input type="text"><br>
      <legend><strong>Admin password</strong></legend>
      <input type="text"><br>
      <p><strong><em>NOTE: None of this is secure. Please do not use any personal username/passwords.</em></strong></p>
      <input type="submit">

    </form>
  </body>
</html>
